---
import RatingCollection from "./RatingCollection.astro";
import { Image } from "@astrojs/image/components";

type Props = {
  ratings?: Record<string, string | number>;
  title: string;
  image: any;
};

const { ratings, image, title } = Astro.props;
---

<article class="flex flex-col items-center">
  <Image format="webp" width={300} aspectRatio="1:1" src={image} alt="fabric" />
  <h3>{title}</h3>
  <div class="flex w-full justify-around">
    <RatingCollection {ratings} />
  </div>
  <p>
    <slot />
  </p>
</article>
