---
import { Image } from "@astrojs/image/components";
import RatingCollection from "./RatingCollection.astro";
import { type PartnerKeys, partnerInfos } from "@/ts/partners";

type Props = {
  ratings?: Record<string, string | number>;
  title: string;
  image: any;
  partners: Partial<Record<PartnerKeys, string>>;
};

const { ratings, title, partners, image } = Astro.props;
---

<article
  class="flex flex-col items-center gap-2 border-b-2 pb-5 pt-10 last:border-b-0 sm:flex-row md:gap-5"
>
  <Image
    format="webp"
    width={400}
    aspectRatio="1:1"
    src={image}
    alt="fabric"
    class="w-[15rem] rounded-lg"
  />

  <div class="flex flex-col gap-2">
    <h3 class="text-3xl">{title}</h3>
    <div class="flex flex-wrap justify-between gap-5">
      <div class="flex items-center gap-10">
        <RatingCollection {ratings} />
      </div>
      <div class="flex items-center gap-10">
        {
          Object.entries(partners).map(([name, product]) => {
            const { label, image, link, ...partnerInfo } =
              partnerInfos[name as PartnerKeys];
            return (
              <a
                href={
                  "linkFn" in partnerInfo ? partnerInfo.linkFn(product) : link
                }
                target="_blank"
                class="label"
              >
                <Image src={image as any} alt={label} class="h-10 w-auto" />
              </a>
            );
          })
        }
      </div>
    </div>

    <div class="prose max-w-none">
      <slot />
    </div>
  </div>
</article>
