---
import Rating from "@/components/Rating.astro";

type Props = {
  ratings?: Record<string, string | number>;
};

const { ratings } = Astro.props;
---

{
  ratings &&
    Object.entries(ratings).map(([character, rating]) => {
      if (typeof rating === "string") {
        return (
          <div>
            {character} {rating}
          </div>
        );
      }
      return <Rating {...{ character, rating }} />;
    })
}
