@tailwind base;
@tailwind components;
@tailwind utilities;

.prose tr:nth-child(even) {
    @apply bg-gray-100
}

.prose th:first-child,
.prose td:first-child {
    @apply pl-2
}

ul.alt {
    @apply list-none pl-0
}

html {
    scroll-behavior: smooth;
}

.button {
    @apply  m-5 rounded-full border-2 border-gray-300 px-5 py-2
}

article.youtube > a {
    position:relative;
    display:flex;
    justify-content: center;
}

article.youtube img,
article.youtube .play-button {
    cursor: pointer;
    margin: 0;
}

article.youtube .play-button {
    width: 70px;
    height: 50px;
    background-color: rgb(40, 40, 40);
    z-index: 1;
    opacity: 0.7;
    border-radius: 10px;
}

article.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 20.0px;
    border-color: transparent transparent transparent #fff;
}

article.youtube .play-button,
article.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

article.youtube a:hover ~ .play-button,
article.youtube .play-button:hover {
    opacity: .8;
    background-color: red;
}

article.youtube .caption {
    text-align: center;
}