---
import {
  faInstagram,
  faYoutube,
  faRedditAlien,
  faGithub,
} from "@fortawesome/free-brands-svg-icons";
import Icon from "@/components/Icon.astro";
---

<footer
  class="flex flex-col items-center gap-5 bg-[var(--banner)] py-10 font-light text-white"
>
  <div class="flex gap-10">
    <a href="https://www.instagram.com/learnmyog/" target="_blank">
      <Icon icon={faInstagram} class="fa-2xl" />
      <span class="sr-only"> Instagram</span>
    </a>
    <a href="https://www.youtube.com/user/g8trtim" target="_blank">
      <Icon icon={faYoutube} class="fa-2xl" />
      <span class="sr-only"> Youtube</span>
    </a>
    <a href="https://www.reddit.com/u/g8trtim/" target="_blank">
      <Icon icon={faRedditAlien} class="fa-2xl" />
      <span class="sr-only"> Reddit</span>
    </a>
    <a
      href="https://github.com/myogpatterns/myogpatterns.github.io"
      target="_blank"
    >
      <Icon icon={faGithub} class="fa-2xl" />
      <span class="sr-only"> Github</span>
    </a>
  </div>
  <div id="sitemap">
    <a href="/">Home</a> &emsp;
    <a href="/article/fabrics">Gear Fabrics</a> &emsp;
    <a href="/gallery">Maker Gallery</a> &emsp;
    <a href="/about">About</a> &emsp;
    <a href="/about#faq">FAQ</a> &emsp;
    <a href="/about#transparency--disclosures">Disclosures</a>
  </div>
  <p>&copy; 2020-2023 LearnMYOG. All rights reserved.</p>
</footer>
