---
const { pathname } = Astro.url;
const links = [
  {
    href: "/",
    value: "Patterns",
  },
  {
    href: "/article/zero-to-hero",
    value: "Getting Started",
  },
  {
    href: "/article/fabrics",
    value: "Fabrics",
  },
  {
    href: "/hardware",
    value: "Hardware",
  },
  {
    href: "/map",
    value: "MYOG Suppliers",
  },
];

function isActive(href: string) {
  return pathname.startsWith(href) && href !== "/" ? "active" : "";
}
---

<nav class="flex justify-center uppercase text-white">
  {
    links.map(({ href, value }) => (
      <a
        href={href}
        class={
          (isActive(href)
            ? "bg-white text-black"
            : "hover:bg-gray-400/50 hover:text-black") +
          " p-5 transition-colors"
        }
      >
        {value}
      </a>
    ))
  }

  <!-- TODO: mobile menu-->
</nav>

<style>
  nav {
    background-color: var(--spotlight);
  }
</style>
