<!-- Banner -->
<div class="grid place-content-center duration-100 transition-colors"
     style="background-color: var(--banner)">
  <a class="border-8 border-white text-3xl md:text-6xl  font-bold text-white p-4 m-14 mb-16" href="/">
    Learn MYOG
  </a>
</div>
