---
import Layout from "@/layouts/Layout.astro";
import Disclosure from "@/components/Disclosure.astro";
import Hardware from "@/components/hardware/Hardware.svelte";
---

<Layout title="Learn MYOG Hardware Picker">
  <main class="container py-10">
    <Hardware client:load />
    <Disclosure />
  </main>
</Layout>
