---
import Layout from "@/layouts/Layout.astro";
import ArticleHeader from "../components/PageHeader.astro";
import PatternLink from "@/components/pageLinks/PatternLink.astro";
import IndexLink from "@/components/pageLinks/IndexLink.astro";
import Partner from "@/components/Partner.astro";
import Spotlight from "@/components/Spotlight.astro";
import Card from "@/components/ui/Card.astro";
import EmailSubscribe from "@/components/EmailSubscribe.astro";
import { Image } from "@astrojs/image/components";
import type { IndexLinkProps } from "@/components/pageLinks/types";

const patterns: IndexLinkProps[] = [
  {
    pattern: "alpha-camp-pants",
    image: import("@/images/index/camp_pants2.jpg"),
  },
  { pattern: "alpha-raglan", image: import("@/images/index/bala1.jpg") },
  { pattern: "windshell", image: import("@/images/windshell2/coverart.jpg") },
  {
    pattern: "trail-running-backpack",
    image: import("@/images/trailRunBackpack/trp6.jpg"),
  },
  { pattern: "chonky-sling", image: import("@/images/index/chonkysling.jpg") },
  { pattern: "fastpack", image: import("@/images/index/fastpackhero3.jpg") },
  { pattern: "pullover-hoodie", image: import("@/images/index/pullover.jpg") },
  { pattern: "dias", image: import("@/images/index/diashi2.jpg") },
  { pattern: "uzip", image: import("@/images/index/uzip7.jpg") },
  { pattern: "framebags", image: import("@/images/index/framebags.jpg") },
  { pattern: "stem-bag", image: import("@/images/index/stembag.jpg") },
  { pattern: "running-belt", image: import("@/images/index/runningbelt.jpg") },
  { pattern: "fanny-pack", image: import("@/images/index/edfannypack.jpg") },
  { pattern: "totepack", image: import("@/images/index/totepack.jpg") },
];

const generators: IndexLinkProps[] = [
  {
    pattern: "generator/cinch-sack",
    image: import("@/images/index/cinchsack.jpg"),
  },
  {
    pattern: "generator/rolltop-sack",
    image: import("@/images/index/rolltop.jpg"),
  },
  {
    pattern: "generator/stuff-sack",
    image: import("@/images/index/roundstuff.jpg"),
  },
  {
    pattern: "generator/zip-pouch",
    image: import("@/images/index/zipsack.jpg"),
  },
];

const articles: IndexLinkProps[] = [
  {
    href: "/article/zero-to-hero#gear-up-for-myog",
    image: import("@/images/shared/products/HD1000.webp"),
    title: "Essential Tools",
    alt: "sewing tools",
  },
  {
    href: "/article/fabrics",
    image: import("@/images/index/fabrics.jpg"),
    title: "Technical Fabrics",
    alt: "fabrics",
  },
  {
    href: "/hardware",
    image: import("@/images/index/hardware.jpg"),
    title: "Pack Hardware",
    alt: "backpack hardware",
  },
  {
    article: "zippers",
    image: import("@/images/index/zippers.jpg"),
  },
  {
    article: "circut",
    image: import("@/images/shared/products/cricut-maker.webp"),
    alt: "Cricut Maker",
  },
  {
    article: "3d-corners",
    image: import("@/images/index/3dCronersthumb.jpg"),
  },
  {
    href: "https://youtu.be/IA5X1dcTO0c",
    image: import("@/images/shared/partners/200/rotr2.webp"),
    title: "Dispel Maker Fears, ep 42",
    alt: "podcast episode",
  },
  {
    href: "https://youtu.be/uqm3Dv6JbF0",
    image: import("@/images/shared/partners/200/rotr2.webp"),
    title: "Sewing with Polartec, ep 58",
    alt: "podcast episode",
  },
];
---

<Layout title="Learn MYOG">
  <Spotlight
    slot="nav"
    title="Trail Running Backpack Refresh!"
    buttonText="Trail Running Backpack"
    href="/pattern/trail-running-backpack"
    leftImage
  >
    Originally released in 2020, our Trail Running Backpack has become a MYOG
    mainstay. Refreshed with new materials, improved instructions, and your
    feedback there's no better time than now to make your first vest pack!

    <Fragment slot="image">
      <Image
        alt="Trail Running Backpack standard strap"
        src={import("@/images/trailRunBackpack/wing.jpg")}
        format="webp"
        height={600}
      />
    </Fragment>
  </Spotlight>

  <main class="space-y-10">
    <ArticleHeader
      header="Make Your Own Outdoor Gear"
      tagline="Sewing Patterns for Adventure Gear and Technical Apparel"
    />

    <section class="container flex flex-wrap justify-center">
      {
        patterns.map((article) => (
          <IndexLink class="md:basis-1/3" {...article} />
        ))
      }
    </section>

    <Card>
      <h2>Custom Pattern Generators</h2>
      <div class="container flex flex-wrap justify-between">
        {
          generators.map((article) => (
            <IndexLink class="sm:basis-1/2 md:basis-1/4" {...article} />
          ))
        }
      </div>
    </Card>

    <Spotlight title="Zero to Hero" href="/article/zero-to-hero" class="!mt-0">
      From Day 1 to Gear Making Guru <br />
      Ultimate Guide and Essential Tools

      <Fragment slot="button">
        <span class="icon solid fa-forward"></span> Show me the way!
      </Fragment>

      <Fragment slot="image">
        <Image
          alt="sewist"
          src={import("@/images/index/zero2hero.jpg") as any}
          format="webp"
          height={600}
        />
      </Fragment>
    </Spotlight>

    <section class="container flex flex-col text-center">
      <h3>Articles and Guides</h3>
      <div class="flex flex-wrap">
        {
          articles.map((article) => (
            <IndexLink
              class="sm:basis-1/2 md:basis-1/4"
              width={100}
              {...article}
            />
          ))
        }
      </div>
    </section>

    <section class="container prose flex max-w-none flex-col items-center">
      <h3>Community Partners</h3>
      <div>
        <div class="flex flex-col items-center md:flex-row">
          <Partner partner="ripstopbytheroll" />
          LearnMYOG patterns now available! Physical patterns bundled with the best
          outdoor pack supplies.
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <Partner partner="discoveryfabrics" />
          Save $15 on your first order of the largest selection of Polartec and outdoor
          apparel fabrics.
        </div>
        <div class="flex flex-col items-center md:flex-row">
          <Partner partner="mozetsupplies" />
          The widest selection of hard to find hardware and on-trend pack making
          material.
        </div>
      </div>
    </section>

    <EmailSubscribe />
  </main>
</Layout>
