---
type Props = {
  buttonTitle: string;
};

const { buttonTitle } = Astro.props;
---

<div class="flex flex-col items-center">
  <p>
    <button
      class="toggle-button m-5 rounded-full border-2 border-gray-300 px-5 py-2"
    >
      <span class="fa fa-angle-down"></span>
      {buttonTitle}
    </button>
  </p>

  <div class="expander zero-height">
    <slot />
  </div>
</div>

<script>
  const expanders = document.querySelectorAll<HTMLElement>(".expander");

  expanders.forEach((expander) => {
    const height = expander.querySelector("*")?.clientHeight ?? 0;
    expander.style.height = `${height}px`;
  });

  document.querySelectorAll(".toggle-button")?.forEach((obj) =>
    obj.addEventListener("click", () => {
      obj.parentElement?.parentElement
        ?.querySelector(".expander")
        ?.classList.toggle("zero-height");

      //TODO: fix icon
      const icon = obj.querySelector("span");
      if (icon) {
        icon.classList.toggle("fa-angle-down");
        icon.classList.toggle("fa-angle-up");
      }
    })
  );
</script>

<style>
  .expander {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .zero-height {
    height: 0 !important;
  }
</style>
