---
export type Props = {
  fields: Record<string, string>;
};

const { fields } = Astro.props;
---

<form class="space-y-5">
  <div class="flex gap-5">
    <!-- Set Units -->
    <div>
      <label>Pattern Units</label>
    </div>

    <div>
      <input type="radio" name="units" id="imperial" value="0" checked />
      <label for="imperial">Inches (in)</label>
    </div>

    <div>
      <input type="radio" name="units" id="metric" value="1" />
      <label for="metric">Centimeters (cm)</label>
    </div>

    <!-- Set Dimensions -->
  </div>
  <div class="flex gap-5">
    {
      Object.entries(fields).map(([key, label]) => (
        <div class="flex flex-col">
          <label for={key}>{label}</label>
          <input type="number" name={key} class="rounded" id={key} />
        </div>
      ))
    }
  </div>
</form>
