---
import { Image } from "@astrojs/image/components";
import { partnerInfos } from "@/ts/partners";
import Partner from "./Partner.astro";

type PartnerType = keyof typeof partnerInfos;

type Props = {
  partners?: PartnerType[];
};

let { partners } = Astro.props;
partners = partners ?? (Object.keys(partnerInfos) as PartnerType[]);
---

<div
  class="not-prose flex flex-col items-center justify-center gap-5 sm:flex-row"
>
  {partners.map((partner) => <Partner partner={partner} />)}
</div>
